* {
    text-decoration: none !important;
}

:root {
    --blue: #1a205f;
    --yelow: #ecad12;
    --white: #fff;
}

.textBlue {
    color: var(--blue);
}

.textYelow {
    color: var(--yelow);
}

.textWhite {
    color: var(--white);
}

.bgYelow {
    background: var(--yelow);
}

.bgBlue {
    background: var(--blue);
}

.bgWhite {
    background: var(--white);
}

.button {
    background: #ecad12 !important;
    color: #1a205f !important;
    transition: all .3s;
}

.button:hover {
    background: #1a205f !important;
    color: #ecad12 !important;
}